* {
    font-family: 'Nunito Sans', sans-serif;
}

:root {
    --shadowDark: #55143d;
    --background: #391c5a;
    --shadowLight: #55143d;
}

body {
    background: var(--background);
}

.hero-body {
    justify-content: center;
}

.login {
    border-radius: 25px;
    padding: 1.5rem;
    box-shadow: 8px 8px 15px var(--shadowDark), -8px -8px 15px var(--shadowLight);
    background: #180c27;
}

a {
    font-weight: 600;
}

a :hover {
    color: #00c4a7;
}